/*
 * See: https://github.com/anyrun-org/anyrun/blob/master/README.md#Styling
 * Defaults: https://github.com/anyrun-org/anyrun/blob/master/anyrun/res/style.css
 * Inspired by: https://github.com/fufexan/dotfiles/blob/main/home/programs/anyrun/style-dark.css
 */

* {
  all: unset;
  font-size: 1.0rem;
}

#window {
  background-color: alpha(@window_bg_color, 0.6);
}

#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match.activatable,
#entry {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.3rem 1rem;
  margin-top: 0.5rem;
}

#match.activatable {
  margin-bottom: 0.05rem;
}
#match.activatable:first-child {
  margin-top: 0.7rem;
}
#match.activatable:last-child {
  margin-bottom: 0.6rem;
}

#match:hover {
  background: rgba(255, 255, 255, 0.1);
}

#entry {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 0.5rem;
}

list > #plugin {
  border-radius: 0;
  border-top: 1px dotted rgba(255, 255, 255, 0.1);
}
list > #plugin:first-child {
  margin-top: 0.3rem;
}
list > #plugin:last-child {
  margin-bottom: 0.3rem;
}

box#main {
  background: @dark_1;
  border-radius: 24px;
  padding: 0.3rem 0.8rem;
}
